@import url(https://fonts.googleapis.com/css?family=Cabin:500,600,700);

body {
  line-height: 18px;
  height: 100vh;
  background-color: rgb(0,121,191);
  font: sans-serif;
  /** PART 1 CSS here */
}

header {
  position: relative;
  overflow: hidden;
  padding: 5px;
  height: 40px;
  background-color: rgba(0,0,0,.15);
  /** PART 1 CSS here */
}

.header-logo {
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -40px;
  top: 5px;
  text-align: center;
  position: absolute;
  width: 5pc;
  height: 30px;
  z-index: 2;
  opacity: 0.5;
  transition: opacity ease-in 85ms;
}

.header-logo-default {
  background-image: url(../img/title.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 5pc 30px;
  right: 0;
  top: 0;
  height: 30px;
  width: 5pc;
  position: absolute;
}

a {
  background-color: transparent;
}


/* BOARD */
.add-list-container {
  padding: 5px;
  height: 100%;
}

.add-list {
  background-color: rgba(0,0,0,.15);
  color: #fff;
  border: 0;
  text-align: left;
  height: auto;
  min-height: 30px;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 280px;
  padding: 7px;
  display: flex;
  /** PART 1 CSS here */
}

.add-list:hover {
  background-color: rgba(0, 0, 0, 0.3)
  /** PART 1 CSS here */
}

.add-list-form {
  /** PART 4 CSS here */
}

.board {
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100% - 40px);
  padding-bottom: 1em;
  display: flex;
  /** PART 2 CSS here */
}


/* LISTS */

.list-container {
  height: 100%;
}

.list {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
  padding: .5em;
  margin: 5px;
  border-radius: 3px;
  width: 270px;
  background-color: #e2e4e6;
  /** PART 2 CSS here */
}

.list-header {
  display: block;
  position: relative;
  margin-bottom: .5em;
  color: black;
  font-weight: 700;
  /** PART 2 CSS here */
}

.list-footer {
  font-weight: 500;
  /** PART 2 CSS here */
}

.list-title {
  font-weight: bold;
  /** PART 2 CSS here */
}

.add-card {
  height: 40px;
  border-radius: 4px;
  text-align: left;
  background: rgba(16,16,16,.15);
  color: #333;
  margin: 3px 0px;
  width: 100%;
  border: none;
  outline: none;
  /** PART 2 CSS here */
}

.add-card:hover {
  background: rgba(96,96,96,.15);
  /** PART 2 CSS here */
}


/* CARDS */

.list-cards {
  min-height: 0;

  /** PART 3 CSS here */
}

.card {
  /** PART 3 CSS here */
}

.card-body {
  /** PART 3 CSS here */
}

.card-more {
  /** PART 3 CSS here */
}

/** PART 4 CSS here: add card form */
